Repository ruby/ruby, pull requests merged in 2022-09, with the labels that each got.

#6319 Enhanced RDoc for Tim[DOC]
  time.c
Labels: Documentation

#6320 [DOC] Enhanced RDoc for Time
  time.c
Labels: Documentation

#6357 Add comments for some peephole optimizations
  compile.c
Labels: Documentation

#6337 Ruby 3.1 backport: Merge openssl-3.0.1
  ext/openssl/History.md
  ext/openssl/extconf.rb
  ext/openssl/lib/openssl/pkey.rb
  ext/openssl/lib/openssl/version.rb
  ext/openssl/openssl.gemspec
  ext/openssl/ossl_hmac.c
  ext/openssl/ossl_pkey.c
  ext/openssl/ossl_pkey_ec.c
  ext/openssl/ossl_x509cert.c
  ext/openssl/ossl_x509crl.c
  ext/openssl/ossl_x509req.c
  ext/openssl/ossl_x509revoked.c
  test/openssl/test_hmac.rb
  test/openssl/test_pkey_dsa.rb
  test/openssl/test_pkey_ec.rb
  test/openssl/test_pkey_rsa.rb
  test/openssl/test_ssl.rb
Labels: Backport

#6372 [DOC] socket: fix wrong sample addresses
  ext/socket/raddrinfo.c
Labels: Documentation

#6392 Fix ruby/spec failures
  spec/ruby/core/time/shared/local.rb
Labels: Backport

#5764 Add URI.escape and URI.unescape to NEWS-3.0.0
  doc/NEWS/NEWS-3.0.0.md
Labels: Backport

#6383 New page IO Streams
  doc/examples/files.rdoc
  doc/io_streams.rdoc
  file.c
Labels: Documentation

#6420 [DOC] Housekeeping in iostreams doc
  doc/io_streams.rdoc
Labels: Documentation

#6445 [DOC] More on IO streams
  doc/io_streams.rdoc
Labels: Documentation

#6454 [DOC] More on IO streams
  doc/io_streams.rdoc
Labels: Documentation

#6353 Add Data class implementation: Simple immutable value object
  NEWS.md
  array.c
  internal/array.h
  spec/ruby/core/data/constants_spec.rb
  struct.c
  test/ruby/test_data.rb
Labels: Feature
