Repository ruby/ruby, pull requests merged in 2022-10, with the labels that each got.

#6468 Re-enable example for Europe/Amsterdam pre-1970 time for Ruby 3.1
  spec/ruby/core/time/shared/local.rb
Labels: Backport

#6458 [DOC] RDoc changes for IO
  ext/pty/lib/expect.rb
  file.c
  io.c
Labels: Documentation

#6474 [DOC] Correcting example for swapcase! method
  string.c
Labels: Documentation

#6485 [DOC] Adding remarks about HTML and tables
  doc/contributing/documentation_guide.md
Labels: Documentation

#6491 [DOC] Integrate io_streams.rdoc into io.c
  io.c
Labels: Documentation

#5653 Add IO#timeout attribute and use it for blocking IO operations.
  NEWS.md
  ext/openssl/extconf.rb
  ext/openssl/ossl_ssl.c
  ext/socket/ancdata.c
  ext/socket/basicsocket.c
  ext/socket/init.c
  ext/socket/socket.c
  ext/socket/udpsocket.c
  gc.c
  include/ruby/io.h
  io.c
  scheduler.c
  spec/ruby/library/socket/tcpsocket/shared/new.rb
  test/ruby/test_io.rb
  test/ruby/test_io_timeout.rb
  test/socket/test_tcp.rb
  thread.c
Labels: Feature

#6496 Merge Rubygems 3.3.23 and Bundler 2.3.23
  lib/bundler/cli/init.rb
  lib/bundler/definition.rb
  lib/bundler/dsl.rb
  lib/bundler/gem_version_promoter.rb
  lib/bundler/index.rb
  lib/bundler/resolver.rb
  lib/bundler/rubygems_ext.rb
  lib/bundler/spec_set.rb
  lib/bundler/templates/newgem/gitlab-ci.yml.tt
  lib/bundler/version.rb
  lib/rubygems.rb
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/package.rb
  lib/rubygems/platform.rb
  lib/rubygems/resolver.rb
  spec/bundler/commands/init_spec.rb
  spec/bundler/spec_helper.rb
  spec/bundler/support/path.rb
  test/rubygems/helper.rb
  test/rubygems/packages/Bluebie-legs-0.6.2.gem
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_platform.rb
  test/rubygems/test_gem_resolver.rb
  test/rubygems/test_require.rb
  test/rubygems/utilities.rb
  tool/bundler/dev_gems.rb.lock
  tool/bundler/rubocop_gems.rb.lock
  tool/bundler/standard_gems.rb.lock
  tool/bundler/test_gems.rb.lock
Labels: Backport

#6520 [DOC] Packed data
  doc/packed_data.rdoc
Labels: Documentation

#6567 [DOC] Link to packed data doc
  doc/packed_data.rdoc
  pack.rb
Labels: Documentation

#6577 [DOC] Fix typo in Enumerable#slice_before
  enum.c
Labels: Documentation

#6582 [DOC] More about line number
  doc/io_streams.rdoc
  file.c
Labels: Documentation

#6529 Use rbs-2.7.0
  gems/bundled_gems
Labels: Backport

#6602 [DOC] Add link targets
  doc/io_streams.rdoc
Labels: Documentation

#6620 [DOC] Add note about method names
  doc/contributing/documentation_guide.md
Labels: Documentation

#6624 [DOC] Revert previous merge
  doc/io_streams.rdoc
Labels: Documentation

#6642 [DOC] Enhanced RDOc for IO
  doc/io_streams.rdoc
  io.c
Labels: Documentation
