Repository ruby/ruby, pull requests merged in 2022-02, with the labels that each got.

#5524 Add documentation for regexp emoji named character property
  doc/regexp.rdoc
Labels: Documentation

#5511 [DOC] Enhanced RDoc for io.c
  io.c
Labels: Documentation

#5527 [DOC] Enhanced RDoc for io.c
  io.c
Labels: Documentation

#5529 {DOC] Enhanced RDoc for io.c
  io.c
Labels: Documentation

#5531 [DOC] Improve links to labels in string.c and struct.c
  string.c
  struct.c
Labels: Documentation

#5526 Merge ipaddr-1.2.4
  lib/ipaddr.gemspec
  lib/ipaddr.rb
  test/test_ipaddr.rb
Labels: Backport

#5522 [DOC] Fix typo in String documentation
  string.c
Labels: Documentation

#5532 [DOC] Adjustments to links in array.c
  array.c
Labels: Documentation

#5543 Merge RubyGems-3.3.7 and Bundler-2.3.7
  lib/bundler.rb
  lib/bundler/cli/config.rb
  lib/bundler/cli/info.rb
  lib/bundler/cli/install.rb
  lib/bundler/fetcher.rb
  lib/bundler/psyched_yaml.rb
  lib/bundler/rubygems_ext.rb
  lib/bundler/rubygems_integration.rb
  lib/bundler/settings.rb
  lib/bundler/version.rb
  lib/rubygems.rb
  lib/rubygems/specification.rb
  lib/rubygems/version.rb
  spec/bundler/bundler/fetcher_spec.rb
  spec/bundler/bundler/rubygems_integration_spec.rb
  spec/bundler/commands/clean_spec.rb
  spec/bundler/commands/config_spec.rb
  spec/bundler/commands/exec_spec.rb
  spec/bundler/commands/info_spec.rb
  spec/bundler/commands/inject_spec.rb
  spec/bundler/commands/lock_spec.rb
  spec/bundler/install/gemfile/groups_spec.rb
  spec/bundler/install/gems/standalone_spec.rb
  spec/bundler/realworld/parallel_spec.rb
  spec/bundler/spec_helper.rb
  spec/bundler/support/helpers.rb
  spec/bundler/support/path.rb
  tool/bundler/dev_gems.rb.lock
  tool/bundler/rubocop_gems.rb.lock
  tool/bundler/standard_gems.rb.lock
  tool/bundler/test_gems.rb.lock
Labels: Backport

#5445 Add Thread.each_caller_location
  test/ruby/test_backtrace.rb
  vm_backtrace.c
Labels: Feature

#5572 [DOC] New document about encoding
  doc/encoding.rdoc
Labels: Documentation

#5573 [DOC] Enhanced RDoc for io.c
  io.c
Labels: Documentation

#5580 [DOC] Set the documentation title and main page
  .rdoc_options
  common.mk
Labels: Documentation

#5578 [DOC] Enhancements for encoding.rdoc
  doc/encoding.rdoc
Labels: Documentation

#5598 [DOC] Enhanced RDoc for some encoding methods
  io.c
  string.c
  transcode.c
Labels: Documentation

#5601 [DOC] Place a non-US-ASCII document in a document-specific script
  doc/.document
  doc/transcode.rb
  transcode.c
Labels: Documentation

#5602 [DOC] Extend intro/defn of 'transcoding'
  doc/encoding.rdoc
Labels: Documentation
