Repository ruby/ruby, pull requests merged in 2023-10, with the labels that each got.

#8575 [DOC] Another example for spawn
  process.c
Labels: Documentation

#8546 [DOC] More docs for InstructionSequence.compile
  iseq.c
Labels: Documentation

#8601 [DOC] Fix platform-dependent directives and modifiers
  doc/packed_data.rdoc
Labels: Documentation

#8430 [Backport 3.1] Fix missing write barrier in iseq instruction list
  compile.c
Labels: Backport

#8712 [DOC] Fix typo in docs of Regexp#deconstruct_keys
  re.c
Labels: Documentation

#8715 [DOC] Improve docs for how to generate documentation
  doc/contributing/documentation_guide.md
Labels: Documentation

#8721 [DOC] Indentation fix in comments of MatchData#inspect
  re.c
Labels: Documentation

#8237 [DOC] Update documentation for typical implementation of hash
  hash.c
Labels: Documentation

#8184 [DOC] Mention the omission of a superclass when reopening a class
  doc/syntax/modules_and_classes.rdoc
Labels: Documentation

#5404 Make beginless Range#size return nil if it ends with non-numeric
  test/ruby/test_range.rb
Labels: Feature

#8798 Relax matching pattern for rake version for Ruby 3.1
  spec/bundler/commands/add_spec.rb
Labels: Backport
