Repository ruby/ruby, pull requests merged in 2024-10, with the labels that each got.

#11746 [DOC] Tweaks for Array#join
  array.c
Labels: Documentation

#11747 [DOC] Tweaks for Array#keep_if
  array.c
Labels: Documentation

#11743 [DOC] Tweaks for Array#inspect
  array.c
Labels: Documentation

#11748 [DOC] Tweaks for Array#last
  array.rb
Labels: Documentation

#11745 [DOC] Tweaks for Array#intersection
  array.c
Labels: Documentation

#11744 [DOC] Tweaks for Array.intersect?
  array.c
Labels: Documentation

#11768 [DOC] Tweaks for Array#max
  array.c
Labels: Documentation

#11786 [DOC] Tweaks for Array#min
  array.c
Labels: Documentation

#9527 Improve documentation for `IO#timeout` and related functions.
  include/ruby/io.h
Labels: Documentation

#11787 [DOC] Tweaks for Array#minmax
  array.c
Labels: Documentation

#11789 [DOC] Tweaks for Array#one?
  array.c
Labels: Documentation

#11788 [DOC] Tweaks for Array#none?
  array.c
Labels: Documentation

#11813 [DOC] Add some descriptions for options of `Socket::tcp`
  ext/socket/lib/socket.rb
Labels: Documentation

#11700 Document that String#sub! and String#gsub! return nil if no replacement occured
  string.c
  string.rb
Labels: Documentation

#11816 Doc filter test
  .github/workflows/annocheck.yml
  .github/workflows/baseruby.yml
  .github/workflows/check_dependencies.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compilers.yml
  .github/workflows/macos.yml
  .github/workflows/mingw.yml
  .github/workflows/parsey.yml
  .github/workflows/rjit-bindgen.yml
  .github/workflows/rjit.yml
  .github/workflows/spec_guards.yml
  .github/workflows/ubuntu.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
  .github/workflows/yjit-macos.yml
  .github/workflows/yjit-ubuntu.yml
Labels: Documentation

#11809 Mention `Hash#inspect` changes in NEWS.md
  NEWS.md
Labels: Documentation

#11802 [DOC] Tweaks for Array#permutation
  array.c
Labels: Documentation

#11822 [DOC] Tweaks for Array#unshift
  array.c
Labels: Documentation

#11833 Fix NEWS.md
  NEWS.md
Labels: Documentation

#11836 [DOC] Tweaks for Array#rassoc
  array.c
Labels: Documentation

#11837 [DOC] Tweaks for Array#reject
  array.c
Labels: Documentation

#11838 [DOC] Tweaks for Array#reject!
  array.c
Labels: Documentation

#11853 [DOC] Tweaks for Array#reverse
  array.c
Labels: Documentation

#11854 [DOC] Tweaks for Array#reverse!
  array.c
Labels: Documentation

#11856 [DOC] Tweaks for Array#rindex
  array.c
Labels: Documentation

#11839 [DOC] Tweaks for Array#repeated_combination
  array.c
Labels: Documentation

#11855 [DOC] Tweaks for Array#reverse_each
  array.c
Labels: Documentation

#11878 YJIT: Improve build instructions for non-hackers
  doc/yjit/yjit.md
Labels: Documentation

#11873 [DOC] Tweaks for Array#repeated_permutation
  array.c
Labels: Documentation

#11874 [DOC] Tweaks for Array#rotate
  array.c
Labels: Documentation

#11876 [DOC] Tweaks for Array#sample
  array.rb
Labels: Documentation

#11875 [DOC] Tweaks for Array#rotate!
  array.c
Labels: Documentation

#11884 [DOC] Fix spelling
  ext/zlib/zlib.c
  lib/reline/line_editor.rb
  test/reline/test_key_actor_emacs.rb
Labels: Documentation

#11886 [DOC] Tweaks for Array#shift
  array.c
Labels: Documentation

#11892 [Bug #20797] Check seconds in UTC offset as well as minutes
  spec/ruby/core/time/new_spec.rb
  test/ruby/test_time.rb
  time.c
Labels: Bug

#11891 [DOC] Tweaks for Array#shuffle!
  array.rb
Labels: Documentation

#11900 [DOC] Correct related for Array#shuffle!
  array.rb
Labels: Documentation

#11899 [DOC] Tweaks for Array#shuffle
  array.rb
Labels: Documentation

#11907 [DOC] Tweaks for Array#sort
  array.c
Labels: Documentation

#11908 [DOC] Tweaks for Array#sort!
  array.c
Labels: Documentation

#11914 [DOC] Tweaks for Array#sort_by!
  array.c
Labels: Documentation

#11915 [DOC] Tweaks for Array#sum
  array.c
Labels: Documentation

#11920 [DOC] Improve `Socket::tcp` with Happy Eyeballs Version 2
  ext/socket/lib/socket.rb
Labels: Documentation

#11916 Merge syntax-suggest-2.0.1
  lib/syntax_suggest/around_block_scan.rb
  lib/syntax_suggest/block_expand.rb
  lib/syntax_suggest/capture_code_context.rb
  lib/syntax_suggest/clean_document.rb
  lib/syntax_suggest/lex_value.rb
  lib/syntax_suggest/parse_blocks_from_indent_line.rb
  lib/syntax_suggest/version.rb
  libexec/syntax_suggest
  spec/syntax_suggest/unit/block_expand_spec.rb
  spec/syntax_suggest/unit/clean_document_spec.rb
Labels: Backport

#11931 [DOC] Tweaks for Array#to_a
  array.c
Labels: Documentation

#11929 [DOC] Tweaks for Array#take
  array.c
Labels: Documentation

#11930 [DOC] Tweaks for Array#take_while
  array.c
Labels: Documentation

#11934 [DOC] Tweaks for Array#to_h
  array.c
Labels: Documentation

#11935 Rb ary inspect
  array.c
Labels: Documentation

#11936 [DOC] Tweaks for Array#transpose
  array.c
Labels: Documentation

#11937 [DOC] Tweaks for Array#union
  array.c
Labels: Documentation

#11950 [DOC] Tweaks for Array#uniq!
  array.c
Labels: Documentation

#11949 [DOC] Tweaks for Array#uniq
  array.c
Labels: Documentation

#11967 Fix typos
  ext/openssl/ossl_bn.c
  ext/pty/pty.c
  gc/default.c
  regexec.c
Labels: Documentation
