Repository ruby/ruby, pull requests merged in 2024-08, with the labels that each got.

#11278 [Backport 3.2] [Bug #20654] Fix floor and ceil when ndigits is large
  numeric.c
  test/ruby/test_float.rb
  test/ruby/test_integer.rb
Labels: Backport

#11298 [DOC] Tweak for Array::[]
  array.c
Labels: Documentation

#11299 [DOC] Tweaks to Array::try_convert
  array.c
Labels: Documentation

#11300 [DOC] Tweak to Array#&
  array.c
Labels: Documentation

#11301 [DOC] Tweaks to Array#*
  array.c
Labels: Documentation

#11304 [DOC] Tweaks for Array#<<
  array.c
Labels: Documentation

#11305 [DOC] Tweaks to Array#<=>
  array.c
Labels: Documentation

#11318 Fix installation failure of rss at ruby_3_2
  gems/bundled_gems
Labels: Backport

#11303 [DOC] Tweaks to Array#-
  array.c
Labels: Documentation

#11335 Added bootstrap job for release workflow for Ruby 3.2
  .github/workflows/publish.yml
Labels: Backport

#11334 Added bootstrap job for release workflow for Ruby 3.3
  .github/workflows/publish.yml
Labels: Backport

#11327 [DOC] Tweaks for Array#==
  array.c
Labels: Documentation

#11328 [DOC] Tweaks for Array#[]
  array.c
Labels: Documentation

#11330 [DOC] Add remark about in-brief for method doc
  doc/contributing/documentation_guide.md
Labels: Documentation

#11329 [DOC] Tweaks for Array#[]=
  array.c
Labels: Documentation

#11365 [DOC] Tweaks to Array#all?
  array.c
Labels: Documentation

#11380 [DOC] Tweaks for Array#any?
  array.c
Labels: Documentation

#11381 [DOC] Fix Related for Array#all?
  array.c
Labels: Documentation

#11382 [DOC] Tweaks for Array#push
  array.c
Labels: Documentation

#11385 [DOC] Tweaks for Array#at
  array.c
Labels: Documentation

#11384 [DOC] Tweaks to Array#assoc
  array.c
Labels: Documentation

#10787 Allow waitpid(-1, Process::WNOHANG) to be woken if a waitpid(pid) is
  process.c
  test/ruby/test_process.rb
Labels: Backport

#11395 [DOC] Tweaks for Array#bsearch
  array.c
Labels: Documentation

#11397 [DOC] Tweaks for Array#clear
  array.c
Labels: Documentation

#11398 [DOC] Tweaks for Array#collect
  array.c
Labels: Documentation

#11414 [DOC] Include keywords.rdoc in doc/syntax/
  doc/syntax/keywords.rdoc
Labels: Documentation

#11420 Backport warning feature for bundled gems from master
  lib/bundled_gems.rb
  tool/test_for_warn_bundled_gems/test.sh
  tool/test_for_warn_bundled_gems/test_warn_redefined.rb
Labels: Backport

#11399 [DOC] Tweaks for Enum#tally
  enum.c
Labels: Documentation

#11439 [Backport 3.3] [Bug #20688] Fix use-after-free for WeakMap and WeakKeyMap
  test/ruby/test_weakmap.rb
  weakmap.c
Labels: Backport

#11434 [DOC] Tweaks for Array#collect!
  array.c
Labels: Documentation

#11442 [DOC] Fix typos in ObjectSpace::WeakMap docs
  weakmap.c
Labels: Documentation

#11443 [Backport 3.3] [Bug #20691] Fix use-after-free in WeakKeyMap#clear
  test/ruby/test_weakkeymap.rb
  weakmap.c
Labels: Backport

#11448 [DOC] Tweaks for Array#compact
  array.c
Labels: Documentation

#11449 [DOC] Tweaks to Array#compact!
  array.c
Labels: Documentation

#11452 [DOC] Tweaks for Array#count doc
  array.c
Labels: Documentation

#11450 [DOC] Tweaks for Array#concat
  array.c
Labels: Documentation

#11440 [DOC] Tweaks to Array#combination
  array.c
Labels: Documentation

#11463 [DOC] Tweaks to Array#delete_at
  array.c
Labels: Documentation

#11465 Merge URI-0.12.3 for Ruby 3.2
  lib/uri/common.rb
  lib/uri/version.rb
Labels: Backport

#11459 [DOC] Tweaks for Array#cycle
  array.c
Labels: Documentation

#11469 [DOC] Tweaks to Array#delete_at
  array.c
Labels: Documentation

#11470 [DOC] Tweaks for Array#delete_if
  array.c
Labels: Documentation

#11466 Merge URI-0.13.1 for Ruby 3.3
  lib/uri/common.rb
  lib/uri/version.rb
Labels: Backport

#11471 [DOC] Related methods for Array#delete
  array.c
Labels: Documentation

#11477 [DOC] More xrefs for array creation
  array.c
Labels: Documentation

#11476 [DOC] Remove Array#abbrev
  array.c
Labels: Documentation

#11485 [DOC] Related for Array#<<
  array.c
Labels: Documentation

#11486 [DOC] Array comparing doc
  array.c
Labels: Documentation

#11483 [DOC] Relateds for combo methods
  array.c
Labels: Documentation

#11494 [DOC] Related for Array#[]=
  array.c
Labels: Documentation

#11495 [DOC] Related for Array#all? and Array#any?
  array.c
Labels: Documentation, Dependencies

#11487 [DOC] Related for Array#[]
  array.c
Labels: Documentation

#11513 [DOC] Rationalize aliases in "What's Here"
  hash.c
Labels: Documentation

#11514 [DOC] Rationalize aliases in "What's Here"
  enum.c
Labels: Documentation
