Repository ruby/ruby, pull requests merged in 2024-09, with the labels that each got.

#11558 Merge reline-0.5.10
  lib/reline.rb
  lib/reline/config.rb
  lib/reline/face.rb
  lib/reline/general_io.rb
  lib/reline/io.rb
  lib/reline/io/ansi.rb
  lib/reline/io/dumb.rb
  lib/reline/io/windows.rb
  lib/reline/key_actor.rb
  lib/reline/key_actor/base.rb
  lib/reline/key_actor/composite.rb
  lib/reline/key_actor/emacs.rb
  lib/reline/key_actor/vi_command.rb
  lib/reline/key_actor/vi_insert.rb
  lib/reline/key_stroke.rb
  lib/reline/line_editor.rb
  lib/reline/terminfo.rb
  lib/reline/unicode.rb
  lib/reline/unicode/east_asian_width.rb
  lib/reline/version.rb
  test/reline/helper.rb
  test/reline/test_ansi_with_terminfo.rb
  test/reline/test_ansi_without_terminfo.rb
  test/reline/test_config.rb
  test/reline/test_key_actor_emacs.rb
  test/reline/test_key_actor_vi.rb
  test/reline/test_key_stroke.rb
  test/reline/test_line_editor.rb
  test/reline/test_reline.rb
  test/reline/test_reline_key.rb
  test/reline/yamatanooroti/test_rendering.rb
Labels: Backport

#11516 [DOC] Rationalize aliases in "What's Here"
  array.c
Labels: Documentation

#11517 [DOC] Rationalize aliases in "What's Here"
  string.rb
Labels: Documentation

#11518 [DOC] Rationalize aliases in "What's Here"
  struct.c
Labels: Documentation

#11520 [DOC] Related for Array#push
  array.c
Labels: Documentation

#11521 [DOC] Related for Array#assoc
  array.c
Labels: Documentation

#11524 [DOC] Related for Array#at
  array.c
Labels: Documentation

#11525 [DOC] Related for Array bsearch methods
  array.c
Labels: Documentation

#11526 [DOC] Related for Array#clear
  array.c
Labels: Documentation

#11527 [DOC] Fix links
  numeric.c
Labels: Documentation

#11528 [DOC] Fix link
  doc/_regexp.rdoc
  doc/syntax/literals.rdoc
Labels: Documentation

#11566 [DOC] Related for Array#collect
  array.c
Labels: Documentation

#11568 [DOC] Related for Array#combination
  array.c
Labels: Documentation

#11569 [DOC] Related for Array#compact
  array.c
Labels: Documentation

#11571 [DOC] Related for Array#concat
  array.c
Labels: Documentation

#11575 [DOC] Related for Array#count
  array.c
Labels: Documentation

#11577 [DOC] Related for Array#cycle
  array.c
Labels: Documentation

#11578 [DOC] Tweaks for Array#delete
  array.c
Labels: Documentation

#11592 [DOC] Related for Array#delete_if
  array.c
Labels: Documentation

#11591 [DOC] Tweaks for Array#delete_at
  array.c
Labels: Documentation

#11594 [DOC] Tweaks for Array#dig
  array.c
Labels: Documentation

#11596 [DOC] Tweaks for Array#drop_while
  array.c
Labels: Documentation

#11593 [DOC] Tweaks for Array#difference
  array.c
Labels: Documentation

#11597 [DOC] Tweaks for Array#each
  array.rb
Labels: Documentation

#11598 [DOC] Tweaks for Array#each_index
  array.c
Labels: Documentation

#11599 [DOC] Related for Array#empty?
  array.c
Labels: Documentation

#11602 [DOC] Tweaks for Array#fetch
  array.c
Labels: Documentation

#11603 [DOC] Tweaks for Array#fetch_values
  array.c
  array.rb
Labels: Documentation

#11629 [DOC] Tweaks or Array#select
  array.c
Labels: Documentation

#11630 [DOC] Tweaks for Array#select!
  array.c
Labels: Documentation

#11613 [Bug #20737] We don't warn target gems for Ruby 3.5
  lib/bundled_gems.rb
Labels: Backport

#11206 Fix evaluation order issue in f(**h, &h.delete(key))
  compile.c
  prism_compile.c
  test/ruby/test_call.rb
Labels: Playground

#9248 [DOC] Fix doc for `refinements`
  eval.c
Labels: Documentation

#11610 [DOC] More on Array#fill
  array.c
Labels: Documentation

#11686 [DOC] Tweaks for Array#find_index
  array.c
Labels: Documentation

#11684 Improve description of `LoadError#path` and `SyntaxError#path`
  error.c
Labels: Documentation

#11697 [DOC] fix a typo in proc
  proc.c
Labels: Documentation

#11696 [DOC] fix a typo in hash
  hash.c
Labels: Documentation

#11688 [DOC] Tweaks for Array#flatten
  array.c
Labels: Documentation

#11703 [DOC] Tweaks for Array#freeze
  array.c
Labels: Documentation

#11705 [DOC] Tweaks for Array#include?
  array.c
Labels: Documentation

#11708 [DOC] Tweaks for Array#replace
  array.c
Labels: Documentation

#11709 [DOC] Tweaks for Array#insert
  array.c
Labels: Documentation

#11689 [DOC] Tweaks for Array#flatten!
  array.c
Labels: Documentation

#11687 [DOC] Tweaks for Array#first
  array.rb
Labels: Documentation

#11704 [DOC] Tweaks for Array#hash
  array.c
Labels: Documentation

#11718 [DOC] fix a typo in prism
  prism_compile.c
Labels: Documentation

#11725 Return an Iterator Instead of a Vector in `addrs_to_pages` Method
  yjit/src/asm/mod.rs
  yjit/src/codegen.rs
Labels: rust
