Repository ruby/ruby, pull requests merged in 2024-04, with the labels that each got.

#10414 [DOC] Fix scope resolution operator typo in `Process#wait` docs
  process.c
Labels: Documentation

#10394 Backport https://github.com/ruby/ruby/pull/9240 to Ruby 3.2
  hash.c
  st.c
  test/ruby/test_hash.rb
Labels: Backport

#10488 [DOC] STR_CHILLED flag on RString
  string.c
Labels: Documentation

#10511 Fix the wrong comment
  object.c
Labels: Documentation

#10530 Specify Kernel#autoload? uses current namespace
  load.c
Labels: Documentation

#10018 Add a hint of `ASCII-8BIT` being `BINARY`
  encoding.c
  internal/encoding.h
  re.c
  spec/ruby/core/encoding/inspect_spec.rb
  string.c
  test/ruby/test_m17n.rb
  test/ruby/test_yjit.rb
Labels: Playground

#10319 Merge RDoc-6.3.4.1 for Ruby 3.0
  lib/rdoc/rdoc.rb
  lib/rdoc/store.rb
  lib/rdoc/version.rb
  test/rdoc/test_rdoc_options.rb
Labels: Backport

#10320 Merge StringIO 3.0.1.1 for Ruby 3.0
  ext/stringio/stringio.c
  test/stringio/test_stringio.rb
Labels: Backport

#10321 Merge StringIO 3.0.1.2 for Ruby 3.1
  ext/stringio/stringio.c
  test/stringio/test_stringio.rb
Labels: Backport

#10318 Merge RDoc-6.4.1.1 for Ruby 3.1
  lib/rdoc/store.rb
  lib/rdoc/version.rb
Labels: Backport

#10646 [DOC] Enhance `Numeric#nonzero?` doc
  numeric.c
Labels: Documentation
