Repository ruby/ruby, pull requests merged in 2024-03, with the labels that each got.

#10146 Clarify C API documentation about pinned classes
  include/ruby/internal/intern/class.h
  include/ruby/internal/intern/struct.h
  include/ruby/internal/module.h
Labels: Documentation

#10172 [DOC] Fix invalid documentation for `reachable_objects_from`
  ext/objspace/objspace.c
Labels: Documentation

#10177 [DOC] fix some comments
  coroutine/arm64/Context.S
  file.c
  include/ruby/internal/intern/signal.h
  include/ruby/internal/intern/string.h
  lib/rubygems/ext/cargo_builder.rb
  lib/rubygems/vendor/molinillo/lib/molinillo/resolution.rb
  lib/rubygems/vendor/resolv/lib/resolv.rb
  prism/prism.c
  prism/util/pm_constant_pool.c
  prism/util/pm_integer.h
  prism_compile.c
  spec/ruby/language/send_spec.rb
  spec/ruby/library/socket/udpsocket/send_spec.rb
  thread_pthread_mn.c
  variable.c
  yjit/src/codegen.rs
Labels: Documentation

#10138 [DOC] Ruby command-line options
  doc/.document
  doc/command_line/field_processing.md
  doc/ruby/option_dump.md
  doc/ruby/options.md
Labels: Documentation

#10190 [DOC] Add 'In brief' for Array#[]
  array.c
Labels: Documentation

#10208 security.rdoc: fix YAML security documentation
  doc/security.rdoc
Labels: Documentation

#10199 [DOC] Array doc
  array.c
Labels: Documentation

#10248 Backport 37ed86fd3c798e298fad9db6e7df1f3f45e1e03b
  regparse.c
  version.h
Labels: Backport

#10017 `Exception#set_backtrace` accept arrays of `Backtrace::Location`
  error.c
  internal/vm.h
  spec/ruby/core/exception/set_backtrace_spec.rb
  spec/ruby/shared/kernel/raise.rb
  test/ruby/test_exception.rb
  vm_backtrace.c
Labels: Playground

#10253 merge revision(s) b3d612804946e841e47d14e09b6839224a79c1a4: [Backport #20150]
  string.c
  test/ruby/test_string.rb
  version.h
Labels: Backport

#9841 Backport 3.3: YJIT memory leak fix with additional CI fixes
  test/ruby/test_optimization.rb
  vm_exec.h
  yjit/bindgen/src/main.rs
  yjit/src/codegen.rs
  yjit/src/cruby_bindings.inc.rs
  yjit/src/stats.rs
Labels: Backport

#9791 [Bug #20208] Revert "Set AI_ADDRCONFIG when making getaddrinfo(3) calls for outgoi…
  ext/socket/extconf.rb
  ext/socket/ipsocket.c
  test/socket/test_tcp.rb
Labels: Backport

#9805 Backport #9498 to Ruby 3.3
  shape.c
Labels: Backport

#10178 Some edits to variable.c
  variable.c
Labels: Documentation

#10098 exceptions.rdoc : Add heads up about ensure not returning implicitly
  doc/syntax/exceptions.rdoc
Labels: Documentation

#10276 [Bug #20279] [DOC] Update for `BasicObject`
  object.c
Labels: Documentation

#10298 merge revision(s) bb59696614083660241ef272f222628cbfa95844: [Backport #20098]
  regexec.c
  test/ruby/test_regexp.rb
  version.h
Labels: Backport

#10300 merge revision(s) ade56737e2273847426214035c0ff2340b43799a: [Backport #20190]
  string.c
  test/ruby/test_string.rb
  version.h
Labels: Backport

#10299 merge revision(s) 3e6e3ca2627b1aa71b17de902cc1b8188246a828: [Backport #20207]
  regexec.c
  test/ruby/test_regexp.rb
  version.h
Labels: Backport

#10307 merge revision(s) 01fd262e62076277a41af72ea13f20deb1b462a2: [Backport #20245]
  symbol.c
  test/ruby/test_module.rb
  version.h
Labels: Backport

#10313 merge revision(s) d3279a0c11ca45ca85027e7eb74dc4aac52c478b: [Backport #20327]
  test/ruby/test_time_tz.rb
  time.c
  version.h
Labels: Backport

#10316 CVE-2024-27281 for Ruby 3.3
  lib/rdoc/store.rb
  lib/rdoc/version.rb
Labels: Backport

#10317 Merge RDoc-6.5.1.1 for Ruby 3.2
  lib/rdoc/store.rb
  lib/rdoc/version.rb
Labels: Backport

#10311 merge revision(s) c7ce2f537f96ab2cf2f5fc2982d6147866ff5340: [Backport #20304]
  encoding.c
Labels: Backport

#10329 merge revision(s) b176315827d1082f43628013a7d89fda02724d33: [Backport #20324]
  range.c
  test/ruby/test_range.rb
  version.h
Labels: Backport

#10334 [DOC] Small edits in rbasic.h
  include/ruby/internal/core/rbasic.h
Labels: Documentation

#10392 [DOC] LEGAL updates
  LEGAL
Labels: Documentation

#10391 [DOC] Use www.rfc-editor.org for RFC text
  doc/ChangeLog/ChangeLog-2.1.0
  doc/ChangeLog/ChangeLog-2.2.0
  doc/ChangeLog/ChangeLog-2.4.0
  doc/csv/recipes/generating.rdoc
  doc/csv/recipes/parsing.rdoc
  doc/strftime_formatting.rdoc
  enc/ebcdic.h
  ext/openssl/ossl_kdf.c
  ext/openssl/ossl_ns_spki.c
  lib/random/formatter.rb
  lib/uri.rb
  lib/uri/generic.rb
  lib/uri/http.rb
  spec/bundler/bundler/digest_spec.rb
  test/openssl/test_ssl.rb
  tool/lib/webrick/httprequest.rb
Labels: Documentation
