Repository ruby/ruby, pull requests merged in 2025-10, with the labels that each got.

#14684 [DOC] Tweaks for String#reverse!
  string.c
Labels: Documentation

#14682 Tweaks for String#replace
  doc/string.rb
  string.c
Labels: ruby

#14735 Use `ec->interrupt_mask` to prevent interrupts. [Backport #21610]
  common.mk
  scheduler.c
Labels: Backport

#14748 ZJIT: Refactor zjit.md
  doc/zjit.md
Labels: Documentation

#14763 Fix typo in comment in array#zip docs
  array.c
Labels: Documentation

#14774 Backport fetch_changesets to ruby_3_2
  .github/workflows/post_push.yml
Labels: Backport
